<!DOCTYPE html>
<html>
    <head>
        <title>Environment Grade Prediction</title>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    </head>
    <style>
        body {
            background-color: #fcfcfc;
        }
    </style>
    <body>
        <h1 style="text-align: center; color: #000000;">Environment Grade Prediction</h1>
        
        <form action="/envi" method="post">
            <p style="text-align: center; color: #000000">온실가스 배출량: <input type="range" min="0" max="1000" name="greenhouse gas Slider" id="greenhousegasSlider" oninput="updateTextInput(this.value);">
            <input type="text" name="greenhouse gas" id="greenhousegas" value="{{request.form['greenhouse gas']}}"> tCO2eq</p>
            
            <p style="text-align: center; color: #000000">에너지 사용량: <input type="range" min="0" max="1000" name="energy usage Slider" id="energyusageSlider" oninput="updateTextInput(this.value);">
            <input type="text" name="energy usage" id="energyusage" value="{{request.form['energy usage']}}"> TJ</p>
            
            <p style="text-align: center; color: #000000">유해화학물질 배출량: <input type="range" min="0" max="1000" name="Hazardous Chemical Slider" id="HazardousChemicalSlider" oninput="updateTextInput(this.value);">
            <input type="text" name="Hazardous Chemical" id="HazardousChemical" value="{{request.form['Hazardous Chemical']}}"> T</p>
            
            <p style="text-align: center; color: #000000">용수 사용량: <input type="range" min="0" max="1000" name="water usage Slider" id="waterusageSlider" oninput="updateTextInput(this.value);">
            <input type="text" name="water usage" id="waterusage" value="{{request.form['water usage']}}"> T</p>
                    
            <p style="text-align: center; color: #000000">폐기물 배출량: <input type="range" min="0" max="1000" name="waste emissions Slider" id="wasteemissionsSlider" oninput="updateTextInput(this.value);">
            <input type="text" name="waste emissions" id="wasteemissions" value="{{request.form['waste emissions']}}"> T</p>
            
            <p style="text-align: center; color: #000000">
            <input type="submit" value="예측하기"></p>

        </form>
        <!-- 예측창 -->
        <h2 style="text-align: center; color: #000000">Predicted Grade: {{predicted_grade}}</h2>
        <p style="text-align: center; color: #000000"><button onclick="window.location.href = '/';" >메인으로 돌아가기</button></p>

    </body>

    
    <!-- slider, text 동기화-->
    <script>
        $(document).ready(function() { 
            // Update text input when the slider value changes
            $('#greenhousegasSlider').on('input', function() {
                $('#greenhousegas').val($(this).val());
            });
            $('#greenhousegas').on('input', function() {
                $('#greenhousegasSlider').val($(this).val());
            });

            // Update text input when the slider value changes
            $('#energyusageSlider').on('input', function() {
                $('#energyusage').val($(this).val());
            });
            // Update the slider when the text input value changes
            $('#energyusage').on('input', function() {
                $('#energyusageSlider').val($(this).val());
            });

            // Update text input when the slider value changes
            $('#HazardousChemicalSlider').on('input', function() {
                $('#HazardousChemical').val($(this).val());
            });
            // Update the slider when the text input value changes
            $('#HazardousChemical').on('input', function() {
                $('#HazardousChemicalSlider').val($(this).val());
            });

            // Update text input when the slider value changes
            $('#waterusageSlider').on('input', function() {
                $('#waterusage').val($(this).val());
            });
            // Update the slider when the text input value changes
            $('#waterusage').on('input', function() {
                $('#waterusageSlider').val($(this).val());
            });

            // Update text input when the slider value changes
            $('#wasteemissionsSlider').on('input', function() {
                $('#wasteemissions').val($(this).val());
            });
            // Update the slider when the text input value changes
            $('#wasteemissions').on('input', function() {
                $('#wasteemissionsSlider').val($(this).val());
            });
        });
        </script>

    <script>
            $(document).ready(function() {                 
                $('form').on('submit', function(event) {
                    var emptyFields = [];
                    
                    if ($('#greenhousegas').val() === '') {
                        emptyFields.push('온실가스 배출량');
                    }
                    if ($('#energyusage').val() === '') {
                        emptyFields.push('에너지 사용량');
                    }
                    if ($('#HazardousChemical').val() === '') {
                        emptyFields.push('유해화학물질 배출량');
                    }
                    if ($('#waterusage').val() === '') {
                        emptyFields.push('용수 사용량');
                    }
                    if ($('#wasteemissions').val() === '') {
                        emptyFields.push('폐기물 배출량');
                    }
                    if (emptyFields.length > 0) {
                        event.preventDefault(); // 폼 제출 방지
                        var errorMsg = "다음 필드를 입력하세요: " + emptyFields.join(', ');
                        alert(errorMsg);
                    }
                });
            });
        </script>
</html>