<!DOCTYPE html>
<html>
<head>
  <title>ESG Prediction</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="script.js"></script>
</head>
<body>
  <div class="tabs">
    <button class="tab-button" id="envi-tab">Environment</button>
    <button class="tab-button" id="social-tab">Social</button>
    <button class="tab-button" id="gov-tab">Governance</button>
  </div>
  <div id="content">
    <!-- Content for each tab will be loaded here -->
  </div>
</body>
</html>
